In [1]:
import pandas as pd
import os
import random

In [2]:
parent_data_dir = os.path.join(os.getcwd(), 'Dillards POS')
final_data_dir = os.path.join(os.getcwd(), 'final_data')
os.makedirs(final_data_dir, exist_ok=True)

In [5]:
# deptinfo.csv
df_dept = pd.read_csv(os.path.join(parent_data_dir,'deptinfo.csv'), names=['DEPT','DEPTDESC','TMP'])
df_dept.drop(columns=['TMP'], axis=1, inplace=True)

print(df_dept.shape[0])
df_dept.head()


df_dept.to_csv(os.path.join(final_data_dir,'deptinfo.csv'), index=False)

60

In [7]:
# skstinfo.csv
data_path = os.path.join(parent_data_dir,'skstinfo.csv')
headers = ['SKU','STORE','COST','RETAIL','TMP']
num_lines = sum(1 for l in open(data_path))
print("Original Number of Lines : {}".format(num_lines))

# Sample size 
size = int(num_lines / 100)

# The row indices to skip - make sure 0 is not included to keep the header!
skip_idx = random.sample(range(1, num_lines), num_lines - size)

# Read the data
df_skst_info = pd.read_csv(data_path, skiprows=skip_idx, names=headers)
df_skst_info.drop(columns=['TMP'], axis=1, inplace=True)
print("Final Shape : {}".format(df_skst_info.shape[0]))


df_skst_info.to_csv(os.path.join(final_data_dir,'skstinfo_sample.csv'), index=False)

Original Number of Lines : 39230146
Final Shape : 392301

In [9]:
# trnsact.csv
headers = ['SKU','STORE','REGISTER','TRANNUM',
           'SALEDATE','SEQ','INTERID',
           'STYPE','QUANTITY','ORGPRICE',
           'AMT','MIC','TMP'
          ]
data_path = os.path.join(parent_data_dir,'trnsact.csv')
num_lines = sum(1 for l in open(data_path))
print("Original Number of Lines : {}".format(num_lines))

size = int(num_lines / 100)

# The row indices to skip - make sure 0 is not included to keep the header!
skip_idx = random.sample(range(1, num_lines), num_lines - size)
df_trans = pd.read_csv(data_path, skiprows=skip_idx, names=headers)
df_trans.drop(columns=['TMP'], axis=1, inplace=True)
print("Final Shape : {}".format(df_trans.shape[0]))

df_trans.to_csv(os.path.join(final_data_dir,'trnsact_sample.csv'), index=False)

Original Number of Lines : 120916896
Final Shape : 1209168

In [32]:
# skuinfo.csv
data_path = os.path.join(parent_data_dir, 'skuinfo.csv')

skip_index_list = []
for idx, line in enumerate(open(data_path)):
    if len(line.split(',')) != 11:
        skip_index_list.append(idx)
len(skip_index_list)

headers = ['SKU','DEPT', 'CLASSID','UPC','STYLE','COLOR','SIZE','PACKSIZE','VENDOR','BRAND','TMP']
df_skuinfo = pd.read_csv(data_path, skiprows = skip_index_list, names = headers)

df_skuinfo.drop(columns=['TMP'],axis=1, inplace=True)
print(df_skuinfo.shape[0])

df_skuinfo.to_csv(os.path.join(final_data_dir, 'skuinfo.csv'), index=False)

df_skuinfo.head()

1556039

,SKU,DEPT,CLASSID,UPC,STYLE,COLOR,SIZE,PACKSIZE,VENDOR,BRAND
0,3,6505,113,400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY
1,4,8101,002,400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR
2,5,7307,003,400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE
3,8,3404,00B,400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI
4,15,2301,004,400000015000,126 MDU461,255CAMEL,12,1,23272,JONES/LA

In [20]:
# strinfo.csv
data_path =  os.path.join(parent_data_dir, 'strinfo.csv')
headers = ['STORE', 'CITY', 'STATE', 'ZIP', 'TMP']
df_strinfo = pd.read_csv(data_path, names=headers)

df_strinfo.drop(columns=['TMP'],axis=1, inplace=True)
print(df_strinfo.shape[0])

df_strinfo.to_csv(os.path.join(final_data_dir, 'strinfo.csv'), index=False)

df_strinfo.head()

453

   STORE                  CITY STATE    ZIP
0      2  ST. PETERSBURG          FL  33710
1      3  ST. LOUIS               MO  63126
2      4  LITTLE ROCK             AR  72201
3      7  FORT WORTH              TX  76137
4      9  TEMPE                   AZ  85281