In [1]:
import pandas as pd
import os

In [2]:
! pwd

/Users/dare_devil/Desktop/MLDS_2024/Quarter1/Everything_Starts_With_Data/MLDS_400_G11/DataCleaning

In [32]:
base_dir = '/Users/dare_devil/Desktop/MLDS_2024/Quarter1/Everything_Starts_With_Data/'
data_dir = os.path.join(base_dir, 'final_data')
cleaned_data_dir = os.path.join(base_dir, 'cleaned_data')
os.makedirs(cleaned_data_dir, exist_ok=True)
os.listdir(data_dir)

['skuinfo.csv',
 'trnsact_sample.csv',
 'deptinfo.csv',
 'skstinfo_sample.csv',
 'strinfo.csv']

## STRINFO

In [14]:
strinfo = pd.read_csv(os.path.join(data_dir, 'strinfo.csv'))
print(f"StrInfo Num Rows: {strinfo.shape[0]}")
strinfo.head()

StrInfo Num Rows: 453

   STORE                  CITY STATE    ZIP
0      2  ST. PETERSBURG          FL  33710
1      3  ST. LOUIS               MO  63126
2      4  LITTLE ROCK             AR  72201
3      7  FORT WORTH              TX  76137
4      9  TEMPE                   AZ  85281

In [52]:
strinfo.STORE.unique().shape

(453,)

In [20]:
for column in strinfo.columns:
    print(column, strinfo[column].dtype)

STORE int64
CITY object
STATE object
ZIP int64

In [27]:
strinfo.CITY.unique().tolist()[0], strinfo.STATE.unique().tolist()[0]

('ST. PETERSBURG      ', 'FL')

In [37]:
strinfo['CITY'] = strinfo['CITY'].apply(lambda x : x.strip())
strinfo['STATE'] = strinfo['STATE'].apply(lambda x : x.strip())

In [38]:
strinfo.CITY.unique().tolist()[0], strinfo.STATE.unique().tolist()[0]

('ST. PETERSBURG', 'FL')

In [39]:
strinfo.to_csv(os.path.join(cleaned_data_dir, 'strinfo.csv'), index=False)

## deptinfo.csv

In [40]:
dept = pd.read_csv(os.path.join(data_dir, 'deptinfo.csv'))
print(dept.shape[0])
dept.head()

60

   DEPT  DEPTDESC
0   800  CLINIQUE
1   801  LESLIE
2  1100  GARY F
3  1107  JACQUES
4  1202  CABERN

In [41]:
for column in dept.columns:
    print(column, dept[column].dtype)
    
dept['DEPTDESC'].unique().tolist()[10]

DEPT int64
DEPTDESC object

'MAI     '

In [42]:
dept['DEPTDESC'] = dept['DEPTDESC'].apply(lambda x : x.strip())
dept.to_csv(os.path.join(cleaned_data_dir, 'deptinfo.csv'), index=False)

## skuinfo.csv

In [7]:
skuinfo = pd.read_csv(os.path.join(data_dir,'skuinfo.csv'))
skuinfo.head()

,SKU,DEPT,CLASSID,UPC,STYLE,COLOR,SIZE,PACKSIZE,VENDOR,BRAND
0,3,6505,113,400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY
1,4,8101,002,400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR
2,5,7307,003,400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE
3,8,3404,00B,400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI
4,15,2301,004,400000015000,126 MDU461,255CAMEL,12,1,23272,JONES/LA

In [47]:
for column in skuinfo.columns:
    #print(column, skuinfo[column].dtype)
    if skuinfo[column].dtype == 'object':
        print(column)
        skuinfo[column] = skuinfo[column].apply(lambda x : x.strip())
skuinfo.to_csv(os.path.join(cleaned_data_dir, 'skuinfo.csv'), index=False)

CLASSID
STYLE
COLOR
SIZE
BRAND

In [48]:
skuinfo.shape

(1556039, 10)

## skstinfo.csv

In [57]:
skstinfo_sample = pd.read_csv(os.path.join(data_dir,'skstinfo_sample.csv'))
skstinfo_sample.head()

   SKU  STORE    COST  RETAIL
0    3    102  123.36   440.0
1   45   3504   20.66    59.0
2   45   8402   20.66    59.0
3   45   9304   20.66    59.0
4   78   3702   24.30    40.2

In [62]:
column_names = skstinfo_sample.columns.tolist()
column_names.append('TMP')
column_names

['SKU', 'STORE', 'COST', 'RETAIL', 'TMP']

In [63]:
skstinfo = pd.read_csv(
    os.path.join(base_dir, 'Dillards POS', 'skstinfo.csv'), 
    names=column_names
    )
skstinfo.head()

   SKU  STORE    COST  RETAIL  TMP
0    3    102  123.36   440.0    0
1    3    103  123.36   440.0    0
2    3    104  123.36   440.0    0
3    3    202  123.36   440.0    0
4    3    203  123.36   440.0    0

In [64]:
skstinfo.drop(['TMP'], axis=1, inplace=True)

In [65]:
skstinfo.head()

   SKU  STORE    COST  RETAIL
0    3    102  123.36   440.0
1    3    103  123.36   440.0
2    3    104  123.36   440.0
3    3    202  123.36   440.0
4    3    203  123.36   440.0

In [69]:
skstinfo.STORE.unique().shape[0], skstinfo.SKU.unique().shape[0]

(357, 760212)

In [70]:
skstinfo.to_csv(os.path.join(cleaned_data_dir, 'skstinfo.csv'), index=False)

In [71]:
skstinfo.shape[0]

39230146